{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="login" class="animate form">
            <section class="login_content">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <form>

                    <h1>Registration Form</h1>
                    <div>
                        {{ form_label(form.username, "Username") }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'id': 'username',
                            'placeholer': 'Username ', 'name': '_username', 'required': 'required', 'autocomplete': 'username' }}) }}
                    </div>
                    <div>
                        {{ form_label(form.email, "Email") }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'email',
                            'placeholer': 'Email ', 'name': '_email', 'required': 'required', 'autocomplete': 'email' }}) }}
                    </div>
                    <div>
                        {{ form_label(form.plainPassword['first'], "Password") }}
                        {{ form_widget(form.plainPassword['first'], {'attr': {'class': 'form-control', 'id': 'password',
                            'placeholer': 'Password ', 'name': '_password', 'required': 'required' }}) }}
                    </div>
                    <div>
                        {{ form_label(form.plainPassword['second'], "Repeat password") }}
                        {{ form_widget(form.plainPassword['second'], {'attr': {'class': 'form-control', 'id': 'password',
                            'placeholer': 'Password ', 'name': '_password', 'required': 'required'}}) }}
                    </div>
                    <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="DpYGwmXvoDxMlZ-HLE55u22z0tFx0DNDm0bxdOCfZPc">
                    <div>
                        <input class="btn btn-primary"  style="margin-left: 100px; margin-top: 10px;" type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                    <div class="clearfix"></div>
                    {{ form_end(form) }}
                </form>
                <!-- form -->
            </section>
            <!-- content -->
        </div>
    </div>
{% endblock %}
