{% extends 'base.html.twig' %}

{% block body%}

    <div class="container m-5 pt-4" style="justify-content: center; width: 70%">
        {% for user in users %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
                </thead>
                    <tbody>
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="pull-right">
                                <a href={{ path('app_user_show',{'id': user.id }) }}> <button class="btn btn-primary" type="submit">Voir</button></a>
                                <a href={{ path('app_user_delete',{'id': user.id }) }}> <button class="btn btn-primary" type="submit">Supprimer</button></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
            </table>
            {% endfor %}
        </div>


{% endblock %}